.DS_Store
/**/*.csv
/**/*.wav
/**/*.jpg
models/datasets/
models/spectrograms/
models/ignore/
models/*.jpg
models/*.pkl
temp*.jpg
temp*.png
**/__pycache__/**
staticfiles/
.env
dev/.env.prod.docker-compose
**/*.egg-info/**
