services:
  # COMMENTED OUT UNTIL READY TO TEST
  traefik:
    restart: always
    image: traefik
    container_name: traefik
    env_file: ./.env.production
    networks:
      - django-nginx
    command: >
      --providers.docker=true
      --providers.docker.exposedByDefault=false
      --log.level=${LOG_LEVEL:-WARN}
      --providers.docker.exposedByDefault=false
      --providers.file.filename=/var/traefik/dynamic.yml
      --entrypoints.web.address=:80
      --entrypoints.websecure.address=:443
      --entrypoints.websecure.http.tls.certresolver=myresolver
      --certificatesresolvers.myresolver.acme.email=${ACME_EMAIL:-Bryon.Lewis@kitware.com}
      --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json
      --certificatesresolvers.myresolver.acme.httpchallenge=true
      --certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web
      --certificatesresolvers.myresolver.acme.caserver=${ACME_CA_SERVER:-https://acme-v02.api.letsencrypt.org/directory}
    labels:
      # Traefik HTTPS Redirect
      - "traefik.enable=true"
      - "traefik.http.routers.http-catchall.entrypoints=web"
      - "traefik.http.routers.http-catchall.rule=Host(`${SERVERHOSTNAME:-batdetectai.kitware.com}`)"
      - "traefik.http.routers.http-catchall.middlewares=redirect-to-https-mddl@docker"
      - "traefik.http.middlewares.redirect-to-https-mddl.redirectscheme.scheme=https"
    volumes:
      - "${SOCK_PATH:-/var/run/docker.sock}:/var/run/docker.sock"
      - "./traefik/letsencrypt:/letsencrypt"
      - "./traefik/dynamic.yml:/var/traefik/dynamic.yml:ro"
    ports:
      - "80:80"
      - "443:443"

  django:
    build:
      context: ..
      dockerfile: ./prod/django.Dockerfile
# Copy and install dependencies
    command: 'uv run gunicorn bats_ai.wsgi:application --bind 0.0.0.0:8000'

    # Log printing via Rich is enhanced by a TTY
    tty: true
    env_file:
      - ./.env.production
    networks:
      - django-nginx
    volumes:
      - django-static:/opt/django-project/staticfiles
    ports:
      - 8000:8000
    depends_on:
      - postgres
      - rabbitmq
      - minio
    extra_hosts:
      - host.docker.internal:host-gateway

  celery:
    image: ghcr.io/kitware/batai/server:latest
    build:
      context: ..
      dockerfile: ./prod/django.Dockerfile
      args:
        BUILD_ENV: ${BUILD_ENV:-prod}
    command: [
      "uv", "run",
      "celery",
      "--app", "bats_ai.celery",
      "worker",
      "--loglevel", "INFO",
      "--without-heartbeat"
    ]
    # Docker Compose does not set the TTY width, which causes Celery errors
    tty: false
    env_file:
      - ./.env.production
    networks:
      - django-nginx
    depends_on:
      - postgres
      - rabbitmq
      - minio
  client:
    # Specifying both image and build without pull_policy will default to
    # attempting to pull the image first, then build from source if that fails.
    image: ghcr.io/kitware/batai/client:latest
    build:
      context: ..
      dockerfile: ./prod/client.Dockerfile
      args:
        VITE_APP_API_ROOT: ${VITE_APP_API_ROOT}
        DJANGO_BATAI_URL_PATH: ${DJANGO_BATAI_URL_PATH}
        DJANGO_MINIO_STORAGE_URL: ${DJANGO_MINIO_STORAGE_URL}

    env_file:
     - ./.env.production
    networks:
      - django-nginx
    depends_on:
      - django
    labels:
      - "traefik.http.routers.client-rtr.entrypoints=websecure"
      - "traefik.http.routers.client-rtr.rule=Host(`${SERVERHOSTNAME:-batdetectai.kitware.com}`)"
      - "traefik.enable=true"
      - "traefik.http.services.client-svc.loadbalancer.server.port=80"
  postgres:
    image: postgis/postgis:latest
    env_file: ./.env.production
    networks:
      - django-nginx
    ports:
      - ${DOCKER_POSTGRES_PORT-5432}:5432
    volumes:
      - postgres:/var/lib/postgresql/data

  rabbitmq:
    env_file:
      - ./.env.production
    image: rabbitmq:management
    networks:
      - django-nginx
    ports:
      - ${DOCKER_RABBITMQ_PORT-5672}:5672
      - ${DOCKER_RABBITMQ_CONSOLE_PORT-15672}:15672
    volumes:
      - rabbitmq:/var/lib/rabbitmq/mnesia

  minio:
    image: minio/minio:latest
    # When run with a TTY, minio prints credentials on startup
    tty: true
    command: ["server", "/data", "--console-address", ":${DOCKER_MINIO_CONSOLE_PORT-9001}"]
    env_file:
      - ./.env.production
    networks:
      - django-nginx
    ports:
      - ${DOCKER_MINIO_PORT-9000}:9000
      - ${DOCKER_MINIO_CONSOLE_PORT-9001}:9001
    volumes:
      - minio:/data

volumes:
  postgres:
  sourcedb:
  minio:
  rabbitmq:
  django-static:

networks:
  django-nginx:
    driver: bridge
